*{
  text-decoration: none;
  color: var(--koyu-gri);
}
  :root {
    --sari: #FDC913;
    --acik-gri: #5F5F5F;
    --koyu-gri: #292929;
    --kirmizi: #CE2829;
    --bej: #FAF7F2;
  }


  body {
    color: white;
    margin: 0%;
    width: 540px;

  }

  h1{
    width: 350.93px;
    height: 45.79px;

  display:flex;
  justify-content: center;
  margin-top: 120px;
  font-family: "Londrina Solid";
  font-size:45px;
  color:var(--bej);
  }

  header p {
  background-color: var(--kirmizi);
  Width: 398px;
  Height :368px;
  font-size:86px;
  font-weight: 300;
  text-align: center;
  line-height: 92px;
  margin-bottom: 35px;
  margin-top: 10px;
  color:var(--bej)
  }

  .main-container {
  display: flex;
  flex-direction: column;
  align-items:center;
  background-image: url(https://s3-alpha-sig.figma.com/img/2b78/c96a/4a4acb450e3bbb3750c05c017efa1f61?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZA1BTpO-ZAKR74wRI9jYyvNYBF3X2Nio-slH3SxdWBpBumNdEz8aDOZsiJJbq0tU47rJVIzKnwalV~AV21mYT3~GwUJY4jitKnR380es2Vctrq7DCK2Ahtkh-bqRhfHohT288bJWzBEbRoCj0A6hK8MfX4yJf1AcVS8Mkpx7lkOshkGDbNbvBZo1U3ZTvFayBXQi-64EXezi18P72MiKYb1x0ZA8EKJG~aJEe8~t50nEPTPnRGCDiJk1sle5yZeaN3PXil5xjBdBTrNE4P2LrQweJ2OKMfgj9qGy4WSd05ZIerwDvLw3U8s1yAW9OYASHJWGEzbpqw2V40-Cv9l9kA__);
  background-repeat:no-repeat;
  background-position:bottom center;
  background-size: 202%;
  
}

  header{
    background-color: var(--kirmizi);
    Width: 540.13px;
  Height :1080.53px;
  font-family: "Roboto Condensed", sans-serif;
  }

  header div .button {
    background-color: #FDC913;
    padding: 15px 45px;
    border-radius: 50px;
    border:none;
    font-weight: 400;
    font-size: 24px;
  }


  header img {
    width: px;
    Height: 553px;

  }

  .menu-section {
    margin: 20px;
    margin-left: 110px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color:var(--koyu-gri);
   text-decoration: none;
   gap: 30px;
   align-items: center;
   
  }

  .menu-section div {
    display: flex;
    gap: 7px;
    font-family: Barlow,sans-serif;
    font-size: 18px;
    align-items: center;
    width: 100px;
  }


  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: var(--bej);
    gap: 15px;
    
  }

  .cards a {
    background-color: var(--bej);
    color:var(--kirmizi);
    border-radius: 50px;
    padding: 12px;
    border: none;
    text-decoration: none;
  }
  
  .card-1 {
  background-image: url(/public/assets/iteration-2/cta/kart-1.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  height: 336px;
  width: 422px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;

  }

  .card-1 h3{
    font-size: 68px;
    width: 288px;
    color: var(--bej);
    font-family: Quattrocento, serif;
    margin-bottom:0;
    margin-top: 30px;;
  } 

  .card-1 p {
    font-family: Barlow, sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
    color: var(--bej);
  }



  .card-2 {
    background-image: url(/public/assets/iteration-2/cta/kart-2.png);
    background-size:80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #292929;
    height: 336px;
    width: 422px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    }
    
    .card-2 h3{
      font-family: Barlow, sans-serif;
      font-size: 32px;
      width: 200px;
      color: var(--bej);
      margin-top: 70px;
      font-weight: 400;
    } 
    
    
    .card-3 {
      background-image: url(/public/assets/iteration-2/cta/kart-3.png);
      background-size:cover;
      background-position:center;
      height: 220px;
      width: 422px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      }

    .card-3 h3{
      font-family: Barlow, sans-serif;
      font-size: 32px;
      width: 240px;
      color: black;
      margin-top: 30px;
      height: 88px;
      font-weight: 600;
    } 

    .card-3 h3 span{
     color: var(--kirmizi);
    } 
  
    .menuler {
  background-color:  var(--bej);
  margin-top: 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

    }

    .menuler p {
  color:var(--kirmizi);
  font-size:32px;
  font-family: "Satisfy", cursive; 
  }
    .menuler h3 {
      color:var(--koyu-gri);
      width: 300px;
      size: 100px;
      font-family: Barlow, sans-serif;
      font-size: 42px;
      text-align: center;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0;
      }
  

      .menu-section1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color:var(--koyu-gri);
        background-color:  var(--bej);
        align-items: center;
        gap: 2rem;
    }
    .menu-div {
      width: 70%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      color:var(--koyu-gri);
      background-color:  var(--bej);
      align-items: center;
      gap: 2rem;
      padding: 2rem;
      margin-left: 50px;
      
     
  }
        
    .menu-section1 button {
      display: flex;
      justify-content: space-evenly;
      font-family: Barlow, sans-serif;
      font-weight: 600;
      font-size: 18px;
      padding: 10px;;
      align-items: center;
     border: white;
      background-color: white;
      border-radius: 50px;
    }

      
    .menu-section1 button:hover {   
      background-color:var(--koyu-gri);
        color: white;
        transition-duration: 0.4s;
}
  .yemekler {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    font-family: Barlow, sans-serif;
    background-color: var(--bej);
  gap: 15px;
  color:var(--koyu-gri);
  padding: 40px;
  }

  .yemekler h3{
    display: flex;

  }

  .yemekler div{
    padding-left: 40px;
    background-color:  white;
    border-radius: 20px;
    margin: 0;
  }

  .paragraf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  .paragraf .fiyat{
    font-weight: 600;
    padding-right: 50px;
  }

  footer {
    background-color: var(--koyu-gri);
    font-family: Barlow, sans-serif;
    text-decoration: none;
    padding-left: 50px;
    border-top: solid var(--koyu-gri);
  
  }

  footer h1 {
    width: 150px;
    padding-bottom: 40px;
    color: var(--bej);
  }
  
.iletisim {
  text-decoration: none;
  display: flex;
  align-items: flex-start;
width:320px;
flex-wrap: wrap;
gap: 20px;
color: var(--bej);
}


.iletisim a {
color: var(--bej);
}

footer h2 {
  font-weight: 350;
  font-size: 24px;
  padding-bottom: 15px;
  color: var(--bej);
 }


footer p {
  color: var(--bej);
}

footer h3 {
  padding: 20px 0;
  color: var(--bej);
}

.insta img {
padding: 3px;
color: var(--bej);
}

.insta {
  width: 400px;
  color: var(--bej);
}

i {
  color: var(--bej);
}
.info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-top: solid var(--acik-gri) 1px;
  width: 350px;
  padding: 20px;
}

